.about{
    height: 25rem;
}
.about .inner-wrapper{
    max-width: 1366px;
    margin: auto;
    height: 100%;
}
.about .inner-wrapper .about-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5rem 0 7rem;
    height: 100%;

}
.about .inner-wrapper .about-contant .about-left,.about .inner-wrapper .about-contant .about-right {
    width: 50%;
}
/*left div*/
.about .inner-wrapper .about-contant .about-left img{
    width: 100%;
    padding-right:3.5rem;
}
/*left div*/
.about .inner-wrapper .about-contant .about-right {
    padding: 2rem 0 0 2rem;
}
.about .inner-wrapper .about-contant .about-right .heading{
    font-family: 'Lora', serif;
    color: #003366;
    font-size: medium;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ; 
}

.about .inner-wrapper .about-contant .about-right .paragraph{
    font-family: 'Lora', serif;
    color:  #000000;
    font-size: .8rem;
    padding: 0.5rem 0.5rem 0  0.5rem; 
}